.sidebar{
    height: 100vh;
    color: white;
    width: 20vw;
    min-width: 15%;
    background-color: #040404;
    position: fixed;

}
.sidebar_logo{
    margin-right: auto;
    height: 70px;
    padding: 10px;
}



.navItem{
    display: flex;
    align-items: center;
    color: grey;
    width: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
    font-size: 25px;
    text-decoration: none;
    margin-top: 50px;

    @media screen and (max-width: 700px){
        font-size: 1em;
    }
    /* margin-left: 20px; */
}

.navItem:hover{
    color: white;
}
.navItem > a:hover{
    color: white;
}
.navItem {
    padding-left: 10px;
    padding-right: 10px;
}
.navItem > a {
    text-decoration: none;
    color: grey;
}
/* .sidebar > hr{
    border: 1px solid #282828;
    width: 20%;
    margin: 10px auto;
} */

.iconBar{
    position: absolute;
    bottom: 30px;
    align-content: center;
    margin: auto;
    /* margin-left: auto; */
    width: 100%;
}
.iconBar > a {
 color : grey;
 margin-top: 10px;
 margin-left: 20px;
}

.iconBar > hr {
    border-top: 1px solid rgba(160, 160, 160, 0.5);
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
    


}